<section class="mainSection">
  <!-- Dialog Trigger -->
  <div class="custom-container">
    <f:if condition="{events.posterImage}">
      <div class="row-grid">
        <f:image image="{events.posterImage}" height="500c" class="p-0" alt="image" />
      </div>
    </f:if>
    <div class="row-grid">
      <div class="column-item-lg-8 leftpart">
        <div class="event--details">
          <f:if condition="{events.title}">
            <h1 class="h2">{events.title}</h1>
          </f:if>
         
          <f:if condition="{events.teaser}">
            <div class="event--additionaldetails--description">
              <f:format.html>{events.teaser}</f:format.html>
            </div>
          </f:if>
          <f:if condition="{events.description}">
            <div class="event--details--description">
              <f:format.html>{events.description}</f:format.html>
            </div>
          </f:if>
        </div>
  </div>
  <div class="column-item-lg-4 rightpart">
    <div class="event__summary">
      <h2 class="headline--block">
        <f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:eventsummary" />
      </h2>
      <div class="event__summary--details">
        <h5>
          <f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:datetime" />
        </h5>
          <f:if condition="{events.startDate} || {events.endDate}">
            <f:if condition="{events.startDate}">
              <p>
                <span>
                  <f:format.date format="d.m.Y \a\t h:i a">{events.startDate}</f:format.date> -
                </span>
            </f:if>
            <f:if condition="{events.endDate}">
              <span>
                <f:format.date format="d.m.Y \a\t h:i a">{events.endDate}</f:format.date>
              </span>
              </p>
            </f:if>
          </f:if>
        </h5>
        <f:if condition="{events.address}">
          <h5><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:location" /></h5>
          <p class="location-address">
            {events.address -> f:format.nl2br()}
          </p>
        </f:if>
      </div>
    </div>
  </div>
</section>

