/*******************************************************************************
* Isotope
*******************************************************************************/
.t3terminal-product {
	.isotope-layout {
		.filters-button-group {
			text-align: center;
			margin-bottom: 56px;
			margin-top: 36px;

			.button {
				margin: 5px 9px;
			}
		}
	}
}

// dark theme

.dark--theme {
	.headline--block {
		color: $white;
	}
}