<f:debug>{record.pi_flexform.sheets.listConfig.settings}</f:debug>

<table class="table table-condensed table-hover news-table">
    <tbody>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:recordsPerPage" /></th>
            <td>{record.pi_flexform.sheets.listConfig.settings.recordsPerPage}</td>
        </tr>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:detailPageId" /></th>
            <td>{record.pi_flexform.sheets.listConfig.settings.detailPageId}</td>
        </tr>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:recordStoragePage" /></th>
            <td>{record.rawRecord.pages}</td>
        </tr>
    </tbody>
</table>