<table class="table table-condensed table-hover news-table">
    <tbody>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:recordsPerPage" /></th>
            <td>{pi_flexform_transformed.settings.recordsPerPage}</td>
        </tr>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:detailPageId" /></th>
            <td>{pi_flexform_transformed.settings.detailPageId}</td>
        </tr>
        <tr>
            <th><f:translate key="LLL:EXT:ns_event/Resources/Private/Language/locallang_flex.xlf:recordsPerPage" /></th>
            <td>{pages}</td>
        </tr>
    </tbody>
</table>