<f:section name="rowPagination">
  <f:for each="{events}" as="event" iteration="i">
    <f:render partial="Events/Row/RowView" arguments="{_all}" />
  </f:for>
  <f:if condition="{totalpage} > 1">
    <f:render section="arrayPagination" arguments="{_all}" />
  </f:if>
</f:section>

<f:section name="arrayPagination">
  <div class="column-item-md-12" id="loadMoreRow">
    <f:if condition="{next} <= {totalpage}">
      <ul class="ns-pagination dflex">
        <f:if condition="{previous}">
          <f:then>
            <li
              class="{f:if(condition: '{currentPage} == {totalpage}', then: 'disabled', else: '')}"
            >
              <f:if condition="{currentPage} != 1">
                <a
                  href="{f:uri.action(action:'list', arguments:{currentPage: previous, pluginUid: data.uid})}"
                  class="article-load-more"
                  >Previous</a
                >
              </f:if>
            </li>
          </f:then>
        </f:if>

        <f:for each="{pages}" as="page" iteration="it">
          <f:if condition="{it.isFirst}">
            <f:if condition="1 < {page}">
              <li class="page-item">
                <a href="javascript:;"
                  class="ns-page-link pagination-link pagination-link--disable"
                  >…</a
                >
              </li>
            </f:if>
          </f:if>
          <f:if condition="{page}=={currentPage}">
            <f:then>
              <li class="page-item current">
                <a
                  class="ns-page-link active paginate pagination-link"
                  href="{f:uri.action(action:list, arguments:{currentPage: page, pluginUid: data.uid})}"
                  >{page}</a
                >
              </li>
            </f:then>
            <f:else>
              <li class="page-item">
                <a
                  class="ns-page-link paginate pagination-link"
                  href="{f:uri.action(action:list, arguments:{currentPage: page, pluginUid: data.uid})}"
                  >{page}
                </a>
              </li>
            </f:else>
          </f:if>
          <f:if condition="{it.isLast}">
            <f:if condition="{page}<{totalpage}">
              <li class="page-item">
                <a href="javascript:"
                  class="ns-page-link pagination-link pagination-link--disable">…</a>
              </li>
            </f:if>
          </f:if>
        </f:for>
        <f:if condition="{next}">
          <f:then>
            <li
              class="{f:if(condition: '{currentPage} == {totalpage}', then: 'disabled', else: '')}"
            >
              <f:if condition="{currentPage} != {totalpage}">
                <a
                  href="{f:uri.action(action:'list', arguments:{currentPage: next, pluginUid: data.uid})}"
                  class="article-load-more"
                  >Next</a
                >
              </f:if>
            </li>
          </f:then>
        </f:if>
      </ul>
    </f:if>
  </div>
</f:section>
