<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{webRoot}}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{webRoot}}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{webRoot}}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{webRoot}}/assets/favicon/site.webmanifest">

<!-- Demo JS Remove the code below on a production website. -->
<script src="{{webRoot}}/assets/js/demo.bundle.js"></script>

<!-- Theme CSS -->
<link href="{{webRoot}}/assets/css/theme.bundle.css" rel="stylesheet" type="text/css"/>

<!-- SEO -->
<meta name="application-name" content="">

<!-- Title -->
<title>{{title}}</title>
